/* @group reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

/* @end */
/* @group defaults */
body { font-family: Helvetica, Arial, sans-serif; color: #444444; }

/* @group links */
:focus { outline: 1px dotted #777777; color: #006666; }

a { text-decoration: none; }
a:link { color: #009999; }
a:visited { color: #009999; }
a:focus, a:hover, a:active { color: #006666; text-decoration: underline; }

/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 { color: #333333; font-weight: bold; }

h1, h2, h3 { font-family: Baskerville, Palatino, serif; }

h1 { font-size: 1.5em; }

/* @end */
/* @group forms */
form *:focus { outline: none; }

fieldset { margin: 1.5em 0; }

legend { font-weight: bold; font-variant: small-caps; }

label { display: block; margin-top: 1.5em; }

legend + label { margin-top: 0; }

textarea, input[type="text"] { color: #777777; /* Mozilla (FireFox, Camino) */ -moz-box-sizing: border-box; /* Webkit (Safari, Chrome) */ -webkit-box-sizing: border-box; /* IE (8) */ -ms-box-sizing: border-box; /* CSS3 */ box-sizing: border-box; width: 100%; }

/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */
table { width: 100%; border: 0.063em solid #aaaaaa; border-left: none; border-right: none; padding: 0.438em 0; margin: 0.5em 0; }

tbody { color: #777777; }

th { font-weight: bold; }

/* @end */
/* @group block tags */
p { margin: 1.5em 0; }

ol { list-style: decimal; margin: 0 1.5em 1.5em 1.5em; }

ul { list-style: disc; margin: 0 1.5em 1.5em 1.5em; }

blockquote { margin: 1.5em; color: #777777; }

/* @end */
/* @group inline tags */
cite { font-style: italic; color: #777777; }

em { font-style: italic; }

strong { font-weight: bold; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

q { font-style: italic; }
q em { font-style: normal; }

/* @end */
/* @group replaced tags */
img { vertical-align: bottom; }

/* @end */

/* @end */
/* @group STRUCTURE */
body { background: url(../images/line_tile.png?938475934); background-color: #ebebeb; text-align: center; font-size: 100%; line-height: 1.5em; }

#header, #content, #footer { overflow: hidden; display: inline-block; text-align: left; margin-left: auto; margin-right: auto; width: 61em; max-width: 100%; font-family: Helvetica, Arial, sans-serif; color: black; }
#header, #content, #footer { display: block; }
#header-wrapper, #content-wrapper, #footer-wrapper { padding: 0 4em; }

#header { min-width: 900px; }
#header-wrapper { background: #666666; }
#header h1.logo { width: 31.148%; display: inline; float: left; margin-right: 1.639%; margin-left: 1.639%; color: white; padding: 1.25em 0; }
#header ul.nav { margin: 0; padding: 0; border: 0; outline: 0; margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; width: 47.541%; display: inline; float: left; margin-right: 1.639%; display: inline !important; }
#header ul.nav { display: block; }
#header ul.nav li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
#header ul.nav li.first { padding-left: 0px; }
#header ul.nav li.last { padding-right: 0px; }
#header ul.nav li { padding: 2em 1.5em; }
#header ul.nav a { color: white; }

body#blog     .nav li.blog, body#portfolio     .nav li.portfolio, body#designs     .nav li.designs, body#friends .nav li.friends { border-left: 2px solid white; border-right: 2px solid white; background: url(../images/line_tile.png?9983743); background-color: #999; }
body#blog     .nav li.blog a, body#portfolio     .nav li.portfolio a, body#designs     .nav li.designs a, body#friends .nav li.friends a { font-weight: bold; }

#footer-wrapper { background: #666666; clear: both; }
#footer h6 { margin-left: 1.639%; color: white; }

#page { padding: 2em 0em; background: white; margin-left: 1.639%; width: 63.934%; display: inline; float: left; margin-right: 1.639%; }
#page h1 { font-size: 1.75em; padding: 0em 1em; margin: 0; }
#page h2 { font-size: 1.25em; }
#page h2.subtitle { padding: 0em 0em 1em 1.5em; font-style: italic; }
#page .tumblr_title { font-size: 1.5em; }
#page .tumblr_post { padding: 0em 1em; }
#page ol { margin: 0; }
#page ol li { list-style-type: none; margin-left: 0px; }
#page ul.friends { margin: 0; padding: 1em 1em; }
#page ul.friends li { list-style-type: none; margin-left: 0px; }
#page #portfolio, #page #designs, #page #friends { padding: 0em 1em; }
#page #portfolio h1, #page #designs h1, #page #friends h1 { padding: 0; }
#page #portfolio h2, #page #designs h2, #page #friends h2 { padding-top: 1em; }

#sidebar { padding: 2em 0 2em 0; display: inline; float: right; margin-right: 1.639%; /* ugly hacks for IE6-7 */ #margin-right: 0.639%; /* end ugly hacks */ width: 31.148%; display: inline; float: left; margin-right: 1.639%; }
#sidebar p { margin: 1em 0em; }
#sidebar ul { margin: 0; }
#sidebar ul li { list-style-type: none; margin-left: 0px; }

.showgrid { background-image: url('/images/grid.png?1262657000'); background-repeat: repeat; background-position: 1.639% 0; }
.showgrid * { background: transparent; }
.showgrid div { background: rgba(0,0,0,.125); }

/* @end */
/* @group COMPONENTS by type */
/* @end */
/* @group OVERRIDES by content */
/* @end */
/* @group OVERRIDES by page */
/* @end */
/* @group DEBUG */
/* uncomment, adjust and use for debugging    */
/* #page   +show-grid("grid.png") */
/* @end */
