/* @group reset */
@import compass/reset.sass
/* @end */

/* @group defaults */
@import base.sass
/* @end */

!dark_background= #666

/* @group STRUCTURE */
body
  +susy

#header, #content, #footer
  +container
  +sans-family
  :color= !text_color
  &-wrapper
    :padding 0 4em

#header
  &-wrapper
    :background= !dark_background
  ul
    +reset-box-model
    +horizontal-list
    +alpha
  a
    :color= !light_color

#footer
  &-wrapper
    :background= !dark_background
    :clear both
  h6
    +alpha
    :color= !light_color


#content
  +columns(!total_cols)

#page
  +alpha
  +columns(8)
  h1
    :padding-top 1em
  h2
    :padding-top 1em
    :font-size 1.25em
  h2.subtitle
    :padding-top 0
    :padding-bottom 1em
    :padding-left 0.5em
    :font-style italic
  .tumblr_title
    :font-size 1.5em
  ol
    +no-bullets
    :margin 0
  ul.friends
    +no-bullets
    :margin 0
    :padding-top 1em

#sidebar
  +omega
  +columns(4)
  h3
    :padding-top 1em

body#blog     .nav li.blog,
body#portfolio     .nav li.portfolio,
body#designs     .nav li.designs,
body#friends .nav li.friends
  a
    :font-weight bold


.showgrid
  +show-grid("grid.png")


/* @end */


/* @group COMPONENTS by type */



/* @end */


/* @group OVERRIDES by content */



/* @end */


/* @group OVERRIDES by page */



/* @end */


/* @group DEBUG */

/*   uncomment, adjust and use for debugging    */

/*
  #page
    +show-grid("grid.png")

/* @end */

